<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserScoreMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.entity.UserScore">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="no" property="no" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="score" property="score" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, no, name, subject, score
    </sql>

    <select id="selectUserScore" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        user.id, user.no, user.name, score.subject, score.score
        from user
        join score
        on user.id = score.user_id
        and user.no = #{no,jdbcType=INTEGER}
    </select>
</mapper>   
 